#HeaderBand {
	background: url("../images/Nav_Colour_Dojang.jpg") repeat-x scroll
		center top transparent;
	visibility: visible;
}

#Header .Navigation li a {
	color: white;
}

#DojangTitle {
	clear: both;
	margin-top: -30px;
	color: #00217E;
}

#DojangDetails {
	float: left;
	color: #00217E;
}

#Map {
	float: left;
	margin: 10px -100px 0 200px;
	width: 320px;
	height: 320px;
	border: 2px solid #00217E;
}

#Map img {
	border: 2px blue;
}

#DojangDetails div {
	padding: 5px 0 10px;
}

#DojangTitle .name {
	font-size: 50px;
	font-weight: bolder;
	padding: 0 0 20px;
}

#DojangDetails .address {
	padding: 10px 0 10px;
	min-height: 60px;
}

#DojangDetails .classtime {
	width: 300px;
}

#DojangDetails .label {
	font-size: 14px;
	font-weight: bolder;
	color: #817FAA;
}

#DojangDetails .value {
	font-size: 22px;
	font-weight: bolder;
	color: #00217E;
}

#DojangDetails .leading .value {
	font-size: 26px;
	text-decoration: underline;
}

#DojangDetails xmp {
	font-family:  san-serif, helvetica, verdana, arial;
	font-size: 14px;
}