form .box {
	background-attachment: scroll;
	background-clip: border-box;
	background-color: transparent;
	background-image: -moz-linear-gradient(center top, #D5E8F4, #5DA5D4);
	background: -webkit-gradient(linear, center top, center bottom, from(#D5E8F4), to(#5DA5D4));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#D5E8F4', endColorstr='#5DA5D4');
	background-origin: padding-box;
	background-position: 0 0;
	background-repeat: repeat;
	background-size: auto auto;
	border: 1px solid #142652;
	border-radius: 35px 35px 35px 35px;
	float: left;
	margin: 40px 0 0 100px;
	opacity: 0.8;
	padding: 5px;
	width: 80%;
	height: 300px;
	z-index: -100;
}

form .dojang {
	margin-top: 80px !important;
}

form .box {
	color: #00217E;
}

form .box .title {
	padding-left: 150px;
	margin: -10px -5px 0 -5px;
	border-bottom: 1px solid #142652;
	height: 40px;
}

form .box .inner {
	padding: 20px 0 0 150px;
}

form .box .title_dojang {
	padding-left: 50px;
	margin: -10px -5px 0 -5px;
	border-bottom: 1px solid #142652;
	height: 40px;
}

form .box .inner_dojang {
	padding-left: 50px;
}

form .box input[type="text"], select {
	border: 1px solid #142652;
	width: 200px;
	height: 22px;
}

form .box .button_right {
	margin: 140px 0 0 300px;
}

form .box .button {
	background-color: #00217E;
	border: 1px solid #FFFFFF;
	border-radius: 10px 10px 10px 10px;
	color: #FFFFFF;
	height: 30px;
	width: 90px;
	font-family: san-serif, helvetica, verdana, arial;
	font-size: 17px;
	text-align : center;
	text-shadow: 0 1px rgba(0, 0, 0, 0.1);
	text-align: center;
}

.row {
	padding-top: 20px;
}

.column {
	width: 47%;
	float: left;
}

form .img_left {
	width: 173px;
	height: 420px;
	position: absolute;
	left: 0;
	margin-top: -35px;
	padding-left: 50px;
	display: block;
}

form .img_right {
	width: 182px height:     350px;
	position: absolute;
	margin: 17px 0 0 750px;
	display: block;
}