#PageContent #ContentLeft .image {
	margin: -65px 0 0;
}

#PageContent #ContentLeft .content_left {
	width: 400px;
	margin-top: -20px;
	float: left;
}

#PageContent #ContentLeft .img_right {
	padding: 50px 0 0;
	margin-left: 400px;
	position: relative;
}

#PageContent #ContentLeft .img_left {
	width: 400px;
	padding: 0 3px 0 0;
	float: left;
}

#PageContent #ContentLeft .content_right {
	padding: 20px 0 0;
	position: relative;
	text-align: left !important;
	margin-right: -10px;
	font-size: 12px;
}

#PageContent #ContentLeft .content_all {
	margin-top: -30px;
	text-align: left !important;
}

#PageContent #ContentLeft .img_all {
	margin-top: -10px;
	text-align: left !important;
}

#PageContent #ContentLeft .img_all .content {
	padding-top: 30px;
}

#PageContent #ContentLeft .content_danbong {
	width: 350px;
	margin-top: -30px;
	text-align: left !important;
	float: left;
	text-align: left !important;
}

#PageContent #ContentLeft .img_danbong {
	float: left;
	margin-right: -200px;
	padding-top: 90px;
}

#PageContent #ContentLeft .forum {
	margin-left: -60px;
}

#VideoBox {
	display: none;
	position: absolute;
	left: 50%;
	top: 50%;
	margin: -200px -333px 0;
	width: 665px;
	height: 400px;
	padding: 40px 30px 20px 20px;
	border: 5px solid #FFFFFF;
	border-radius: 25px 25px 25px 25px;
	background-color: #000000;
	opacity: 0.9;
	z-index: 1002;
}

#VideoBox .box_close {
	position: absolute;
	left: 670px;
	top: 10px;
}

#ContentLeft .page_title {
	height: 50px;
	margin: -70px 0 0 -20px;
	padding: 20px 0 25px;
	font-size: 44px;
	font-weight: bolder;
	color: #00217E;
	letter-spacing: 1px;
}
