#PageContent #ContentLeft {
  min-height: 520px;
  width: 820px;
  padding: 0 21px 0 0;
  float: left;
  text-align: center;
}

#PageContent #ContentLeft .image {
  margin: -65px 0 0;
}

#PageContent #ContentRight {
  padding: 0 3px 0 12px;
  /* border-left: 1px solid #e5e5e5; */
  position: relative;
  margin-left: 840px;
  min-height: 520px;
  text-align: right;
}

#PageContent #ContentRight .image{
  padding: 50px 0 0;
}

#PageContent #ContentLeft .content_left {
  width: 400px;
  padding-left: 120px;
  text-align: left !important;
  float: left;
}

#PageContent #ContentLeft .img_right {
  padding: 0 3px 0 12px;
  position: relative;
  padding-top: 50px;
}

#PageContent #ContentLeft .img_left {
  width: 400px;
  padding: 0 3px 0 12px;
  float: left;
}

#PageContent #ContentLeft .content_right {
  padding-left: 2px;
  position: relative;
  text-align: left !important;
  margin-right: -100px;
}

#PageContent #ContentLeft .content_all {
  padding-left: 120px;
  margin-top: -40px;
  text-align: left !important;
}

#PageContent #ContentLeft .img_all {
  padding-left: 20px;
  margin-top: -20px;
  text-align: left !important;
}

#PageContent #ContentLeft .img_all .content {
  padding-top: 30px;
}

#PageContent #ContentLeft .content_danbong {
  width: 350px;
  padding-left: 60px;
  margin-top: -40px;
  text-align: left !important;
  float: left;
}

#PageContent #ContentLeft .img_danbong {
  padding: 80px 0 0;
  position: relative;
  margin-right: -250px;
  text-align: left;
  /* margin-left: 450px; */
}